---
import DetailsExperience from "@/components/DetailsExperience.astro";

import { miURL } from "../utils";

const respuesta = await fetch(miURL);

const { work: experiencias } = await respuesta.json();
---

<section
  id="experiencia"
  class="p-3 sm:p-4 bg-gradient-to-t from-blue-500 to-emerald-500 text-white flex justify-center items-center min-h-full"
>
  <div class="md:mx-auto md:container">
    <h1 class="text-center text-3xl font-black md:text-5xl">
      Experiencia Laboral
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 my-4">
      <DetailsExperience experiencias={experiencias} />
    </div>
  </div>
</section>
