<footer
  class="bg-gradient-to-br from-blue-500 to-blue-700 p-6 text-center text-white"
>
  <h3 class="font-medium text-lg">
    Copyright &copy; {new Date().getFullYear()} - Hecho por Carlos Puello
  </h3>
</footer>
