---
import Proyecto from "@/components/Proyecto.astro";

import { miURL } from "@/utils";

const respuesta = await fetch(miURL);

const miCV = await respuesta.json();

const { projects: proyectos } = miCV;

export type Proyectos = [];
---

<section
  id="portafolio"
  class="min-h-screen bg-gradient-to-br from-blue-500 to-emerald-500 flex justify-center items-center"
>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-2 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Title -->
    <h2 class="text-center text-3xl font-black md:text-5xl text-emerald-300">
      Mi Portafolio
    </h2>

    <p
      class="msm:text-base mb-8 mt-4 text-center text-sm md:text-base text-gray-200 md:mb-12 lg:mb-14"
    >
      Muestra los diferentes proyectos personales realizados.
    </p>
    <!-- Content -->
    <div
      class="grid justify-items-center gap-4 md:grid-cols-2 lg:grid-cols-3 p-3"
    >
      {proyectos.map((proyecto: Proyectos) => <Proyecto proyecto={proyecto} />)}
    </div>
  </div>
</section>
